.textbox {
    margin-top: 20px
}

body {
    display: flex;
    justify-content: center;
}
#p{
    position: relative
}

#reg {
    position: absolute;
    right: 20px;
    bottom: 10px;
}

#rember {
    position: absolute;
    bottom: 102px;
    left: 130px;
}

label {
    position: absolute;
    bottom: 100px;
    left: 150px;
}

 #btn { 
     position: absolute;
    bottom: 40px;
    left: 70px;
} 